<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="\Magento\Customer\Model\Registration">
        <plugin name="McLane_User::afterRegister" type="\McLane\User\Plugin\Customer\DisableRegistrationPlugin" sortOrder="1" />
    </type>
    <type name="\Magento\Customer\Controller\Account\LoginPost">
        <plugin name="McLane_User::afterLogin" type="\McLane\User\Plugin\Customer\RedirectToStores" sortOrder="1" />
    </type>
</config>
